@media screen and (max-width: 480px) {
  .header__logo {
    margin-left: 10%;
  }

  .profile {
    flex-direction: column;
  }

  .profile__image {
    margin-right: 0;
    padding-top: 38px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .profile__title {
    max-width: 196px;
    width: 100%;
    font-size: 22px;
    padding-top: 26px;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 36px;
    font-size: 14px;
  }

  .profile__edit-button {
    margin-left: 10px;
    align-self: end;
  }

  .profile__add-button {
    margin: 0;
    max-width: 282px;
    width: 100%;
  }

  .card {
    margin-top: 36px;
  }

  .footer__copyright {
    margin-left: 10%;
  }
}

@media only screen and (max-width: 850px) and (min-width: 481px) {
  .header__logo {
    margin-left: 5%;
  }

  .footer__copyright {
    margin-left: 5%;
  }

  .profile {
    max-width: 780px;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1600px) {
  .page__section {
    max-width: 1200px;
    flex-wrap: wrap;
  }

  .card__list {
    grid-template-columns: repeat(auto-fit, 385px);
  }

  .card__image {
    height: 385px;
    width: 385px;
  }
}
