@import url(../vendor/normalize.css);
/* @import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/logo.css);
@import url(../blocks/profile.css); */

.page {
  background-color: #000000;
  color: white;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  margin-top: 45px;
  border-bottom: 1px solid #545454;
  padding-bottom: 41px;
}

.profile {
  display: flex;
  align-items: center;
  padding-top: 36px;
}

.profile__image {
  height: 120px;
  width: 120px;
  margin-right: 30px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}

.profile__title {
  font-family: "inter", serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.1;
  grid-area: title;
  margin: 0;
}

.profile__description {
  font-family: "inter", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  grid-area: description;
  margin: 0;
  padding-top: 16px;
}

.profile__edit-button {
  background: transparent url(../images/Edit\ Button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  align-self: center;
  margin-left: 18px;
}

.profile__add-button {
  background: transparent url(../images/plussvg.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
}

.cards {
  font-family: "inter", serif;
  font-size: 24px;
  line-height: 1.2;
  margin-top: 47px;
}

.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0px;
  margin: 0px;
}

.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: 10px;
}

.card__image {
  height: 282px;
  width: 282px;
}

.card__description {
  display: flex;
  background-color: #ffffff;
  color: #000000;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__like-button {
  background: transparent url(../images/like.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}

@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .profile__description {
    width: 100%;
    text-align: center;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
  }
}

.footer__copyright {
  color: #545454;
  margin-top: 67px;
  margin-bottom: 60px;
}
